<div class="row">
  <div class="col col-100">
    <button class="button button-stable" ng-click="bw()">
      <i class="icon ion-ios-rewind"></i>
    </button>
    <button class="button button-stable" ng-class="{'play-btn': !playing, 'pause-btn': playing}" ng-click="playpause()">
      <i class="icon" ng-class="{'ion-play': !playing, 'ion-pause': playing}"></i>
    </button>
    <button class="button button-stable" ng-click="ff()">
      <i class="icon ion-ios-fastforward"></i>
    </button>
    <span class="sound-duration pull-left">
      <span>{{moment | hms}}</span> / <span>{{length | hms}}</span>
      </span>
    <div class="waveform" id="{{::uniqueId}}">
    </div>
  </div>
</div>
